body {
  font: 0.9375rem/1.5 var(--font-family-sans-serif);
}

.form-control {
  font-size: 0.9375rem;
  &::placeholder {
    color: #aaa;
  }
}

.navbar {
  padding: 1rem;
  .form-control {
    width: 15rem;
    background: #f8f8f8;
  }
}

.navbar-brand {
  margin-right: 3rem;
}

.navbar-nav {
  .nav-link {
    font-weight: 600;
    padding: 0 1rem!important;
  }
}

.search-form {
  position: relative;
  .search-btn {
    position: absolute;
    right: 5px;
    background: none;
    border: 0;
    display: flex;
    align-items: center;
    .icon {
      color: #aaa;
      width: 18px;
      height: 18px;
    }
  }
}

.recommend {
  margin-bottom: 30px;
  background: linear-gradient(to right, #222222 0%,#7d7e7d 50%,#111111 100%);;
}

.hot-search {
  background: #f8f8f8;
  border: 0;
}